@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.footer {
    background-color: turquoise;
}
.logo{
    width: 150px;
    margin-left: 100px;
    margin-top: 0px;
}

.iconoh{
    width: 45px;
    background-color: #8ff111;
    border-radius: 50px;
    padding: 10px;
}

.iconuser{
    margin: 5px;
    padding: 5px;
    width: 33px;
}

.cont2{
    padding-top: 40px;
    padding-bottom: 40px;
}
.sm{
    width: 35px;
    margin-left: 20px;
}

.check{
    width: 35px;
    margin-left: 19px;
}

.img-place{
    border-radius: 10px;
    border: white;
}

.img-animal{
    border-radius: 50%;
}

.header {

    min-height: 100vh;
    background: url(../imgs/banner3.jpg!d) no-repeat center;
    background-size: cover;
    padding: 0%;
    margin: 0%;
  }

.contform{
      flex-direction: column;
  }

.header .navbar{
    background-color: transparent !important;
  }

.sticky-top {
    position: -webkit-sticky;
    position: relative;
    top: 0;
    z-index: 1030;
}
  
.iconoprueba{
    border-radius: 50px;
}
.round {

    background-color: #fff;
    width: auto;
    height: auto;
    padding: 9px;
    border: 0 solid white;
    border-radius: 30px;

       }

.titulo{
    margin: 30px 0px 0px 0px;
}

.banner0 {
    border-radius: 50px;
    padding: 30px;

}

.bannerform{
    width: 250px;
    border-radius: 50%;
    padding: 20px;
}

.fcformnewuser{
    flex-direction: row;
    align-items: flex-start;
    margin: 0% 10% 0% 10%;
    padding: auto;
    text-align: center;
    display: flex;
}

.subcontainer{
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    padding: auto;
    align-items: center;
    justify-content: center;
}
.fatherform{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid rgb(114, 243, 247);
    margin: 30px 35% 50px 35%;
    padding: auto;
    border-radius: 30px;
    text-align: center;

}

.sonsonform{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 10px 30px 10px;;
    justify-content: center;

}
ion-icon{
    width: 60px;
}

.fatherform .sonform {
    align-self: center;
    border-radius: 50%;
}
.roundlog {
    background-color: #fff;
    width: 300px;
    height: auto;
    padding: 9px;
    border: 2px solid rgb(114, 243, 247);
    border-radius: 30px;
 
}
.opcionuser{
    text-align: left;
    font-size: x-small;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 25px;
}
.sonopcionuser{
    margin: 0px 2px 0px 1px;
    padding: 10px 10px 0px 8px;

}
.datesuser{
    text-align: left;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.sondatesuser{
    margin: 0px 2px 0px 1px;
    padding: 10px 10px 0px 8px;
    text-align: left;
}
.roundlogdatesuser{
    background-color: #fff;
    width: 620px;
    height: auto;
    padding: 9px;
    border: 2px solid rgb(114, 243, 247);
    border-radius: 30px;
    
}
.opcioncreate{
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
    border: 2px solid rgb(114, 243, 247);
    background-color: rgb(114, 243, 247);
}
.imgnewuser{
    margin: 0px 10px 0px 0px;
}

.row-animal{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    padding: auto;
    text-align: center;
    display: flex;
}
.col-animal{
    margin: auto;
    padding: auto;
    width: 270px;
}
.descrip-animal{
    font-family: 'Poppins', sans-serif;
}


/* CSS LUGARES */

.star{
    display: flex;
    justify-content: left;
}
.colstar{
    margin: 0px 10px 0px 10px;
}

.imgmodule{
    width: 100%;
    border-radius: 15px;
}

.row{
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.col-7{
    border-left: 5px rgb(174, 175, 175) solid;
}

.textohospedador{
    padding: 10% 10% 0% 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 300%;
    color: white;
}
.clickhospedador{
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
    border: black 2px solid;
    font-family: 'Poppins', sans-serif;
    background-color: turquoise;
}
.hospedador{
    background-color: black;
}

.header2 .navbar2{
    background-color: rgb(238, 238, 238);
    justify-content: center;
    text-align: center;
}

.logohospedador{
    margin: 1%;
}

/* CSS ALOJAMIENTO */

.fatherhos{
    display: flex;
    border: 2px rgb(201, 199, 199) solid;
    margin-top: 20px;
    border-radius: 15px;

}
.sonhos{
margin: 2% 0% 2% 3%;
padding: 0%;
font-family: 'Poppins', sans-serif;
text-align: left;

}
.imghospedaje{
    border-radius: 5%;
    width: 230px;
}
.iconHos{
    width: 25px;
    margin: 0px 20px 0px 0px;
}
.iconHos1{
    width: 25px;
    margin-right: 10px;
}
.sobra{
    background-color: rgb(30, 30, 79);
}

.lodgment{
    margin: 10px;
    border: solid 3px #a5a5a5;
    border-radius: 15px;
}
.cont3{
    margin-top: 50px;
    justify-content: center;
}
.row-hos{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: left;
    display: flex;
}

/* .row-lodgment{
    margin: 10px;
} */

.sonlodgment{
    margin: 10px;
}